* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

.dlmode {
  position: absolute;
  top: -8px;
  left: 46px;
}

.dark {
  background: #000;
  color: rgb(255, 255, 255);
}

.dark h4,
.dark p {
  color: rgb(185, 185, 185) !important;
}

.dark .grouplist {
  box-shadow: 0px 5px 23px 0px rgba(255, 255, 255, 0.3) !important;
}

.dark .grouplist .box {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.dark .text {
  color: #fff !important;
}

.text {
  display: inline-block;
  color: #000;
  position: absolute;
  top: 11px;
  width: 155px;
  left: 62px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.light {
  background: #fff;
}

.registration-part .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding: 0 !important;
}

.registration-part .box {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}

.registration-part h2 {
  font-family: "Nunito", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #11175d;
  margin: 0;
  margin-top: 225px;
}

.registration-part p {
  font-family: "Nunito", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #11175d;
  margin: 0;
}

.registration-part .MuiFormHelperText-root {
  color: red;
  font-size: 14px;
}

/* .registration-part button{
    margin-top: 40px;
} */

.registration-part .msg {
  font-size: 13px;
  margin-top: 35px;
}

.registration-part .forgot {
  font-size: 13px;
  margin-top: 35px;
  margin-left: 90px;
}

.login-part .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 0;
}

.registration-part .loginoption {
  display: flex;
  cursor: pointer;
}

.registration-part .option {
  padding: 20px 40px;
  padding-left: 92px;
  border: 1px solid rgba(3, 1, 76, 0.083);
  margin-right: 20px;
  border-radius: 9px;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.registration-part .option img {
  position: absolute;
  top: 18px;
  left: 54px;
}

.registration-part .msg a {
  display: inline-block;
  color: #ea6c00;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.registration-part .forgot a {
  display: inline-block;
  color: #ea4200;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}

.registration-part .eye {
  position: relative;
  width: 355px;
}

.registration-part .eyeicon {
  position: absolute;
  bottom: 15px;
  right: 0;
}

.leftbar {
  height: 100vh;
  background: #5f35f5;
  margin: 35px;
  border-radius: 20px;
  text-align: center;
  padding-top: 38px;
}

.leftbar .profilepicbox {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.leftbar .profilepic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.img-preview {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

/* .img-preview img{
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
} */

.leftbar .profilepicbox .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.277);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.leftbar .profilepicbox:hover .overlay {
  opacity: 1;
}

.leftbarbox .profilepicbox {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.leftbarbox .profilepic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.leftbar li {
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  padding: 20px 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}

.leftbar li:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: #5f35f5;
  content: "";
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.leftbar .active {
  background: #fff;
}

.leftbar .icon {
  font-size: 45px;
  color: #bad1ff;
  margin-left: -25px;
}

.leftbar .active .icon {
  color: #5f35f5;
}

.leftbar h5 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-top: 10px;
}

.leftbarmodal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftbarbox {
  width: 500px;
  height: 400px;
  background: #fff;
  padding: 50px;
}

.search {
  margin-top: 35px;
  position: relative;
}

.search input {
  width: 100%;
  padding: 17px 78px;
  box-sizing: border-box;
  border: 0;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.search .searchicon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 23px;
}

.search .menu {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 23px;
  font-size: 20px;
  color: #5f35f5;
}

.grouplist {
  width: 100%;
  padding: 17px 78px;
  box-sizing: border-box;
  border: 0;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  height: 380px;
  overflow-y: scroll;
  margin-top: 43px;
}

.friendlist {
  height: 461px;
  padding: 17px 30px;
}

.mygroup {
  height: 383px;
  padding: 17px 30px;
}

.grouplist h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.grouplist .box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 13px;
  margin-top: 17px;
}

.grouplist .box h1 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.grouplist .box h4 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #4d4d4dde;
}

.grouplist .box:last-child {
  border: 0;
}

.grouplist .box .img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.grouplist .name {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.grouplist .box .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.friendlist .box .button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.userlist .box .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.friendlist .box .button p {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #4d4d4dde;
}

.mygroup .box .button p {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #4d4d4dde;
}

.grouplist .button button {
  background: #5f35f5;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  border: 0;
}

.groupbutton button {
  background: #5f35f5;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  border: 0;
  width: 100%;
  margin-top: 10px;
}

.userinfo li {
  border-bottom: 1px solid #5f35f5;
  padding: 10px 0;
}

.userinfo li span {
  color: #5f35f5;
  font-weight: bolder;
}

.off,
.on {
  font-size: 50px;
}

.off {
  color: #fff;
}

.leftbarbox button {
  background: #5f35f5;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  border: 0;
  margin-top: 10px;
  width: 100%;
}

.forgotpassword {
  background: #5f35f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.forgotpassword h2 {
  font-family: "Nunito", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}

.forgotpassword .forgot {
  background: #fff;
  border-radius: 8px;
  padding: 50px;
}

.forgotpassword .forgot h2 {
  color: #5f35f5;
}

.forgotpassword .forgot p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #11175d;
  margin-top: 10px;
  margin-bottom: 20px;
}

.chat {
  width: 100%;
  padding: 17px 78px;
  box-sizing: border-box;
  border: 0;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  height: 100vh;
  margin-top: 43px;
}

.chat .toparea {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 25px;
}

.chat .toparea .info {
  display: flex;
  align-items: center;
  width: 90%;
}

.chat .img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: red;
  margin-right: 33px;
  position: relative;
  filter: drop-shadow(0 0 0.35rem rgba(0, 0, 0, 0.464));
}

.chat .img .round {
  width: 13px;
  height: 13px;
  background: #00ff75;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.chat .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chat .indentity h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.chat .indentity p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.chat .dots {
  font-size: 25px;
  width: 10%;
  color: #5f35f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat .chatarea {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 47px;
  padding-right: 25px;
}

.chat .msg {
  display: flex;
  position: relative;
  margin-top: 60px;
}

.chat .msg p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 13px 53px;
  border-radius: 10px;
}

.chat .msg .date {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: -38px;
}

.chat .chatimg {
  padding: 10px;
  width: 200px;
}

.chat .chatimg img {
  width: 100%;
}

.msgwrite {
  position: relative;
}

.msgwrite input {
  width: 88%;
  background: #f1f1f1;
  border: 0;
  padding: 15px;
  margin-top: 35px;
  border-radius: 10px;
}

.msgwrite input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.msgwrite button {
  background: #5f35f5;
  color: #fff;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  position: relative;
  top: 3px;
}

.msgwrite .camera {
  position: absolute;
  top: 48px;
  right: 81px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
